@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

$font-primary: 'Nunito', sans-serif;

$font-size-header: 8rem;
$font-size-input: 1rem;
$font-size-li: 1.3rem;
$font-size-search-button: 1.3rem;
$font-size-morejobs-button: 1.2rem;

$color-base: #22333c;
$color-white: #ffffff;
$color-input-outline: rgb(84 105 212 / 0.5);
$color-input-background: rgb(255, 255, 255);
$color-input-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;

$color-search-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgb(84, 105, 212) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;

$color-root-background: #EEEDED;

$box-divider--light-all-2: #e3e8ee;
$box-background--blue: #5469d4;
$box-background--blue800: #212d63;
$box-background--gray100: #e3e8ee;
