@import '_variables.scss';
@import '_mixins.scss';

.job-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-white;
    margin-top: 1rem;

    @include head;

    @include dropdown;

    @include job-list;
}