@import '_variables.scss';
@import '_mixins.scss';

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    @include page;

    @include page-number;

    @include page-item;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}