@import './variables';
@import './mixins';

.search-bar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include mediaQuery(650px) {
        .header {
            font-size: 4rem;
            margin-top: 7rem;
        }

        .subheader {
            font-size: 1.2rem;
        }

        .search {
            .search-input {
                width: 18rem;
            }
        }

        .job-info {
            width: 21rem;
            position: relative;
            left: 10px;
            height: 2rem;
        }

        .more {
            font-size: 1rem;
            width: 6.5rem;
            height: 2.5rem;
            position: relative;
            left: 10rem;
        }
    }
}

.header {
    text-align: center;
    color: $color-base;
    font-size: $font-size-header;
    font-weight: 900;
}

.subheader {
    text-align: center;
    color: $color-base;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}

@include search;

@include job-info;

@include more-button;

.root {
    background: $color-root-background;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}
@include loginbackgorund;

@include header;