@import '_variables.scss';
@import '_mixin.scss';

.search-bar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    color: $color-base;
    font-size: $font-size-header;
    font-weight: 900;
}

.subheader {
    text-align: center;
    color: $color-base;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}

@include search;

@include job-info;

@include more-button;

.root {
    background: $color-root-background;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    @include loginbackgorund;
}

@include header;