@import '_variables';
@import '_mixins';
@import '_keyframes';

ul {
    list-style: none;
    text-align: center;
}

ul {
    li {
        display: inline-block;
        text-align: left;
        font-size: $font-size-li;
    }
}

.header {
    text-align: center;
    color: $color-base;
    font-size: $font-size-header;
    font-weight: 900;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    font-size: $font-size-input;
    line-height: 28px;
    padding: 8px 16px;
    width: 30rem;
    height: 1.7rem;
    border-radius: 7px;
    outline-color: $color-input-outline;
    background-color: $color-input-background;
    box-shadow: $color-input-shadow;
}

.search-button {
    width: 3.5rem;
    height: 2.9rem;
    border-radius: 7px;
    background-color: $color-base;
    box-shadow: $color-search-button-shadow;
    color: $color-white;
    font-size: $font-size-search-button;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover {
    background-color: $color-white;
    color: $color-base;
    font-size: $font-size-li;
    font-weight: 700;
}


.moreJobs {
    position: relative;
    left: 46%;
    width: 10rem;
    text-decoration: none;
    color: $color-base;
    font-size: font-size-morejobs-button;
    border: 1px solid #22333c;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

.moreJobs:hover {
    color: $color-white;
    background-color: $color-base;
}

.root {
    background: $color-root-background;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.flex-flex {
    display: flex;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px $box-divider--light-all-2;
}

.box-background--blue {
    background-color: $box-background--blue;
}

.box-background--white {
    background-color: $color-white;
}

.box-background--blue800 {
    background-color: $box-background--blue800;
}

.box-background--gray100 {
    background-color: $box-background--gray100;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}


.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}

.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}

.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}

.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}