@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-color: #fef3e9;
}

.logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  height: 12rem;
}